/*******************************************************
TITLE: Fluid Box Layout  V1.0
DATE: 20060810
AUTHOR: The CSS Tinderbox - http://www.csstinderbox.com
*******************************************************/

body {
margin:0;
padding:0;
background-color:#ffffff;
color:#000000;  
text-align:center;
font-family:Arial, Helvetica, sans-serif;
font-size:1em;
clear: both;
}

a{text-decoration:none; color:#000000;}

#centerColumn {
margin-top:2em;
margin-left: 6em;
margin-right:6em;
margin-left:6em;
margin-right:6em;
padding:1em .5em 2em .5em;
background:#FFFFFF;
text-align:left;
border:1px solid #999999;
clear: both;
}

html>body #centerColumn {
margin-left:6em;
margin-right:6em;
clear: both;
}

#centerColumn h2 {
margin:0 0 -.5em 0;
padding:.75em 0 0 0;
font-size:1em;
letter-spacing:.1em;
}

#header {
margin:-1em -.5em 0 -.5em !important;
margin:-2em -1em 0 -1em;
padding:1em 0 0 1em;
height:5em;
background-color:darkslategray;
}

#header h1 {
margin:0 0 -.6em 0;
padding:.5em 0 0 0;
font-size:1.8em;
letter-spacing:.1em;
}

#header h2 {
margin:0 0 0 0;
padding:1em 0 0 1.75em;
font-size:1em;
font-weight:bold;
letter-spacing:.1em;
}

.styled-list {
    list-style-type: disc; /* 리스트 스타일 타입 설정 (원형) */
    font-size: 24px;
    margin-bottom: 10px;
}

.styled-list li {
    font-size: 18px; /* 폰트 크기 설정 */
    margin-top: 7px;
    margin-bottom: 7px; /* 항목 간 간격 설정 */
}

.styled-list p{
    font-size: 15px;
}

.styled-list a{
    font-size: 15px;
}


.styled-list ul ul {
    padding-left: 40px; /* 리스트 왼쪽 여백 설정 */
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px; /* 항목 간 간격 설정 */
}

#footer{
	height:50px;
	background:darkslategray;
	border-top:#FFFFFF 2px solid;
	margin:0;
	padding:0;
	padding-bottom: 15px;
	text-align:center;
	}

#footer h2 {
    color: ivory; /* 폰트 색상을 빨간색으로 지정 */
    font-size: 25px;
}
    













