{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
  <head>
    <title>Proj Intro</title>
    <!-- For favicon png / 웹브라우저 파비콘(탭 등에 사용되는 작은 아이콘) -->
		<link rel="shortcut icon" type="image/icon" href="{% static 'logo/logo.jpg' %}"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/projintro_style.css' %}" >
  </head>
  <body>
    <div id="centerColumn">
      <div id="header">
        <h1 style="display: inline; color: ivory">I'M</h1>
        <h1 style="display: inline; color: sandybrown;">FINE</h1>
        <h1 style="display: inline; color: ivory">THANK YOU AND YOU?</h1>
        <h2 style="color: ivory;">기상데이터와 사회경제 지표를 활용하여 미세먼지 농도 예측하기</h2>
      </div>
      <!--//end #nav//-->
      <ul>
        <li class = "styled-list">미세먼지의 위험성
            <ul>
                <li>‘봄의 불청객’ 미세먼지, 실내도 안심 못한다</li>
                  <p>미세먼지는 호흡기 질환(COPD, 천식) 악화와 사망률 증가의 주요 원인이다.</p>
                  <p>미세먼지는 실내에서도 안전하지 않으며, 오염된 공기와 다양한 생활 환경에서 발생할 수 있다.</p>
                  <a href ="https://ekn.kr/view.php?key=20240310027222022"> https://ekn.kr/view.php?key=20240310027222022 </a>
                <li>담배보다 나쁜 미세먼지 한번 들이마시면 여든까지 간다</li>
                  <p>미세먼지는 담배보다 더 치명적인 대기오염 물질로, 한번 흡입하면 체내에 축적되어 다양한 질병을 유발할 수 있다.</p>
                  <p>특히 초미세먼지는 폐, 장, 혈관에 깊숙이 침투해 심각한 건강 문제를 초래하며, 장기적으로 폐암 위험을 크게 증가시킨다.</p>
                  <a href ="https://www.mk.co.kr/news/it/10980488"> https://www.mk.co.kr/news/it/10980488 </a>
            </ul>
        </li>
        <li class = "styled-list">미세먼지의 발생 원인
            <ul>
                <li>부산지역 초미세먼지 성분 자동차 관련 오염원 높아</li>
                  <p>부산지역 초미세먼지의 주요 발생 원인 중 자동차 관련 오염원의 기여율이 33.2~50.2%로 가장 높게 나타났다.</p>
                  <p>초미세먼지 성분은 유기탄소, 황산이온, 질산이온, 암모늄이온 등이 주성분으로 분석되었다.</p>
                  <a href ="https://www.yna.co.kr/view/AKR20240401022400051"> https://www.yna.co.kr/view/AKR20240401022400051 </a>
                <li>미세먼지 발생요인, 국외보다 국내가 높아</li>
                  <p>국내 미세먼지 발생 원인은 국내 요인 52%, 국외 요인 48%로 나타났으며, 주요 원인으로는 자동차 배기가스, 난방 및 발전 부문, 공장 배출가스 등이 있다.</p>
                  <p>서울의 경우 난방과 자동차 배출이 주요 원인이며, 경북과 충남은 대형사업장과 화력발전소가 큰 원인이다.</p>
                  <a href ="https://www.daenews.co.kr/13201"> https://www.daenews.co.kr/13201 </a>
                <li>국내 초미세먼지 발생 원인과 개선 노력</li>
                  <p>국내 초미세먼지 농도는 연평균 26㎍/m³로, WHO 권고기준인 10㎍/m³를 크게 초과하며, 주요 선진국에 비해 높다.</p>
                  <p>1차 미세먼지는 검댕, 중금속 등이고, 2차 미세먼지는 황산염, 질산염 등으로 자동차, 화력발전, 산업체 등이 주요 배출원이다.</p>
                  <p>계절별로 겨울과 봄철에는 국외 유입과 기상 영향으로 초미세먼지 농도가 높아지며, 최근에는 미세먼지 계절 관리제 도입으로 농도가 감소했다.</p>
                  <p>중국의 대기오염도 감소 경향을 보이고 있으며, 동북아 지역의 기후변화와 풍속 약화가 고농도 미세먼지 발생에 영향을 미친다.</p>
                  <a href ="http://www.keaj.kr/news/articleView.html?idxno=3397"> http://www.keaj.kr/news/articleView.html?idxno=3397 </a>
            </ul>
        </li>
        <li class = "styled-list">미세먼지의 위협적인 소문
            <ul>
              <li>미세먼지, 국민 불안도 1위…북핵·자연재해 제쳐</li>
                  <p>한국보건사회연구원의 설문조사에 따르면, 한국인이 가장 불안해하는 요소는 미세먼지로, 북핵과 자연재해보다 높았다.</p>
                  <p>대기오염 불안 점수는 3.46점으로 가장 높았고, 경기침체, 고령화, 수질오염이 뒤를 이었다.</p>
                  <p>환경 문제에 대한 불안이 높아진 이유는 미세먼지 증가와 오염원 논쟁이 원인이다.</p>
                <a href ="https://www.sedaily.com/NewsView/1RZJ1VXBLL"> https://www.sedaily.com/NewsView/1RZJ1VXBLL </a>
              <li>"미세먼지로 인한 손해 얼마나?…“연 11조원 넘는 경제적 손실"</li>
                  <p>미세먼지로 인한 국내 경제적 손실이 연간 11조 원을 초과하는 것으로 추정된다.</p>
                  <p>미세먼지로 인한 조기 사망자는 연간 17,000명에 이르며, 이에 따른 경제적 손실이 크다.</p>
                <a href ="https://biz.sbs.co.kr/article/10000932959"> https://biz.sbs.co.kr/article/10000932959 </a>
            </ul>
        </li>
      </ul>
      <div id="ft">
        <a href = "/">
            <div id="footer">
                <h2>Back To Main</h2>
            </div>
        </a>
      </div>
      <!--//end #footer//-->
    </div>
    <!--//end #centerColumn//-->
  </body>
</html>
