<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Proj Intro</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/projintro_style.css' %}" >
</head>
<body>
<div id="centerColumn">
  <div id="header">
    <h1 style="display: inline; color: ivory">I'M</h1>
    <h1 style="display: inline; color: sandybrown;">FINE</h1>
    <h1 style="display: inline; color: ivory">THANK YOU AND YOU?</h1>
    <h2 style="color: ivory;">기상데이터와 사회경제 지표를 활용하여 미세먼지 농도 예측하기</h2>
  </div>
  <!--//end #nav//-->
  <ul>
    <li class = "styled-list">미세먼지의 위험성
        <ul>
            <li>‘봄의 불청객’ 미세먼지, 실내도 안심 못한다
              <a href ="https://m.ekn.kr/view.php?key=20240310027222022" target="_blank"><img src="/assets/images/welcome-hero/article1_finedust.png"></a>
            <li>담배보다 나쁜 미세먼지 한번 들이마시면 여든까지 간다
              <a href ="https://www.mk.co.kr/news/it/10980488" target="_blank"><img src="/assets/images/welcome-hero/article2_finedust.png"></a>
            </li>
        </ul>
    </li>
    <li class = "styled-list">미세먼지의 발생 원인
        <ul>
            <li>부산지역 초미세먼지 성분 자동차 관련 오염원 높아
              <a href ="https://www.yna.co.kr/view/AKR20240401022400051" target="_blank"><img src="/assets/images/welcome-hero/article3_finedust.png"></a>
            </li>
            <li>미세먼지 발생요인, 국외보다 국내가 높아
              <a href ="https://www.daenews.co.kr/13201" target="_blank"><img src="/assets/images/welcome-hero/article4_finedust.png"></a>
            </li>
            <li>국내 초미세먼지 발생 원인과 개선 노력
              <a href ="http://www.keaj.kr/news/articleView.html?idxno=3397" target="_blank"><img src="/assets/images/welcome-hero/article5_finedust.png"></a>
            </li>
        </ul>
    </li>
    <li class = "styled-list">미세먼지 관련 논문
        <ul>
            <li>서울시 대기 중 미세먼지 농도 예측을 위한 3D 심층 합성곱 신경망 앙상블 예측
              <a href ="https://www.dbpia.co.kr/pdf/cpViewer" target="_blank"><img src="/assets/images/welcome-hero/scholar1_finedust.png"></a>
            </li>
            <li>미세먼지 예측 성능 개선을 위한 시공간 트랜스포머 모델의 적용
              <a href ="https://www.dbpia.co.kr/journal/articleDetail?nodeId=NODE11052459" target="_blank"><img src="/assets/images/welcome-hero/scholar2_finedust.png"></a>
            </li>
            <li>미세먼지 예측 성능 개선을 위한 CNN-LSTM 결합 방법
              <a href ="https://www.dbpia.co.kr/journal/articleDetail?nodeId=NODE09298393" target="_blank"><img src="/assets/images/welcome-hero/scholar3_finedust.png"></a>
            </li>
        </ul>
    </li>
    <li class = "styled-list">관련된 말말말
        <ul>
          <li>미세먼지, 국민 불안도 1위…북핵·자연재해 제쳐
            <a href ="https://www.sedaily.com/NewsView/1RZJ1VXBLL" target="_blank"><img src="/assets/images/welcome-hero/article6_finedust.png"></a>
          </li>
          <li>"미세먼지로 인한 손해 얼마나?…“연 11조원 넘는 경제적 손실"
            <a href ="https://biz.sbs.co.kr/article/10000932959" target="_blank"><img src="/assets/images/welcome-hero/article7_finedust.png"></a>
          </li>
        </ul>
    </li>
  </ul>
  <div id="ft">
    <a href = "/">
        <div id="footer">
            <h2>Back To Main</h2>
        </div>
    </a>
  </div>
  <!--//end #footer//-->
</div>
<!--//end #centerColumn//-->
</body>
</html>
