<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Proj Intro</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/projintro_style.css' %}" >
</head>
<body>
<div id="centerColumn">
  <div id="header">
    <h1 style="display: inline; color: ivory">I'M</h1>
    <h1 style="display: inline; color: sandybrown;">FINE</h1>
    <h1 style="display: inline; color: ivory">THANK YOU AND YOU?</h1>
    <h2 style="color: ivory;">기상데이터와 사회경제 지표를 활용하여 미세먼지 농도 예측하기</h2>
  </div>
  <!--//end #nav//-->
  <ul>
    <li class = "styled-list">미세먼지의 위험성
        <ul>
            <li>List Item
                <ul>기사 링크</ul>
            </li>
            <li>List Item
                <ul>기사 링크</ul>
            </li>
        </ul>
    </li>
    <li class = "styled-list">미세먼지의 발생 원인
        <ul>
            <li>List Item
                <ul>기사 링크</ul>
            </li>
            <li>List Item
                <ul>기사 링크</ul>
            </li>
        </ul>
    </li>
    <li class = "styled-list">미세먼지 관련 기사
      <ul>
        <li>List Item
            <ul>기사 링크</ul>
        </li>
        <li>List Item
            <ul>기사 링크</ul>
        </li>
      </ul>
    </li>
  </ul>
  <div id="ft">
    <a href = "/">
        <div id="footer">
            <h2>Back To Main</h2>
        </div>
    </a>
  </div>
  <!--//end #footer//-->
</div>
<!--//end #centerColumn//-->
</body>
</html>
