{% load static %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>에어로졸 광학두께 이미지 분석 페이지</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="{% static 'css/aerosol_analysis_style.css' %}" >
</head>
<body>
<!-- Begin Wrapper -->
<div id="wrapper">
  <!-- Begin Header -->
  <div id="header"><h1>에어로졸 광학두께 이미지 분석 페이지</a></h1></div>
  <!-- End Header -->
  <!-- Begin Content -->
  <div id="content"> 에어로졸이란? </div>
  <!-- End Content -->
  <!-- Begin Footer -->
  <div id="content"> 이미지 추가, 에어로졸 광학 두께 이미지란 무엇인가 </div>
  <div id="content"> 가장 심한 시간대는? </div>
  <div id="content"> - 미세먼지의 연도별 추세는? (우하향하는 추세) </div>
  <div id="ft">
    <a href = "/#analysis">
        <div id="footer">
            <h2>Back To Main</h2>
        </div>
    </a>
  </div>
  <!-- End Footer -->
 </div>
<!-- End Wrapper -->
</body>
</html>