{% load static %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>경제사회 분석 페이지</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="{% static 'css/fine_dust_analysis_style.css' %}" >
</head>
<body>
<!-- Begin Wrapper -->
<div id="wrapper">
  <!-- Begin Header -->
  <div id="header"><h1>경제사회 분석 페이지</a></h1></div>
  <!-- End Header -->
  <!-- Begin Content -->
  <div id="content"> 경제사회 분석 </div>
  <!-- End Content -->
  <!-- Begin Footer -->
  <div id="content"> 전라도 운수 창고업 상관관계 - 미세먼지 영향 </div>
  <div id="content"> 강원도의 광업 생산량 - 미세먼지 영향 </div>
  <div id="content"> 중국의 단열 유리, 일반 유리 생산 - 미세먼지 영향 </div>
  <div id="content"> 타이어 중요도, 타이어 생산량, 타이어 마모 - 미세먼지 영향 </div>
  <div id="content"> 철광 관련 제품들의 생산량 - 미세먼지 영향 </div>
  <div id="content"> 고급휘발유, 보통휘발유, 자동차용 경유 - 미세먼지 영향 </div>
  <div id="content"> 실내 등유 - 미세먼지 영향 </div>
  <div id="content"> 중국의 소금 생산 - 미세먼지 영향 </div>
  <div id="content"> 중국의 아연 생산 - 미세먼지 영향 </div>
  <div id="content"> 추가 분석 내용 </div>
  <div id="ft">
    <a href = "/">
        <div id="footer">
            <h2>Back To Main</h2>
        </div>
    </a>
  </div>
  <!-- End Footer -->
 </div>
<!-- End Wrapper -->
</body>
</html>