{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>기상 분석 페이지</title>
    <!-- For favicon png / 웹브라우저 파비콘(탭 등에 사용되는 작은 아이콘) -->
		<link rel="shortcut icon" type="image/icon" href="{% static 'logo/logo.jpg' %}"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/analysis_style.css' %}" >
  </head>

  <body>
    <!-- Begin Wrapper -->
    <div id="wrapper">
    <!-- Begin Header -->
    <div id="header"><h1>기상 분석 페이지</a></h1></div>
    <div id="content"> 
      <h1>예측에 사용할 데이터는 며칠이 적합한가?</h1>
      <img src="{% static 'images/weather_analysis/time.png' %}" width = 400px height = 300px style="margin-right: 20px; margin-left:15px;">
      <img src="{% static 'images/weather_analysis/steps.png' %}" width = 450px height = 300px>
      <p>좌측의 표는 각 사막에서 황사가 한국에 도달하는데 필요한 시간이다.</p>
      <p>미세먼지도 유사하다면 비슷한 기간을 예측하는데 사용할 수 있을 것이다.</p>
      <p>우측의 그래프는 프로토타입 모델로 테스트 당시, 각 스텝별 (1 step = 3H) MSE값의 평균이다.</p>
      <p>44 ~ 52 step일때 MSE의 평균값이 가장 낮았으며 그 이후로는 오차에 변화가 없었다.</p>
      <p>따라서 최종적으로 48 step, 6일간의 데이터를 사용하여 미세먼지를 예측하기로 결정하였다.</p>
    </div>
    <div id="content">
      <h1>미세먼지 예측에 가장 중요한 기상 데이터는 어떤 데이터인가?</h1>
      <img src="{% static 'images/weather_analysis/wind.png' %}" width = 900px height = 120px>
      <img src="{% static 'images/weather_analysis/nowind.png' %}" width = 900px height = 120px>
      <p>위의 이미지는 풍향과 풍속만을 가지고 학습시킨 모델의 MSE 값이다.</p>
      <p>아래의 이미지는 풍향과 풍속을 제외하고 학습시킨 모델의 MSE 값이다.</p>
      <p>풍향/풍속이 있을 경우 모든 데이터를 포함한 모델 성능과 크게 차이가 나지 않으나</p>
      <p>풍향/풍속이 없을 경우 MSE값이 10배 가까이 차이나는 것을 확인할 수 있다.</p>
      <p>따라서 현재 미세먼지를 예측하는데 있어 가장 중요한 데이터는 풍향/풍속 데이터이다.</p>
    </div>
    <div id="content"> 
      <h1>비가오면 정말 미세먼지가 씻겨나갈까?</h1>
      <img src="{% static 'images/weather_analysis/percipitation.png' %}" width = 900px height = 450px>
      <p>각 월별로 강수 여부와 미세먼지 농도를 비교한 그래프이다.</p>
      <p>차이가 큰 4월과 5월에는 2배 이상, 차이가 작은 12월에는 약 33% 차이가 발생한다.</p>
      <p>비가 오는날에는 미세먼지 농도가 낮은 것이 확인되었다.</p>
    </div>
    <div id="ft">
      <a href = "/#analysis">
          <div id="footer">
              <h2>Back To Main</h2>
          </div>
      </a>
    </div>
    <!-- End Footer -->
    </div>
    <!-- End Wrapper -->
  </body>
</html>